---
title: En-tête - Header
---

.fr-text-wrap
  :markdown
    L’en-tête permet aux utilisateurs d’identifier sur quel site ils
    se trouvent. Il peut donner accès à la recherche et à certaines
    pages ou fonctionnalités clés.

= render '/partials/example.haml', caption: "En-tête complet", code: header_full, output_class: "fr-pb-16w" do
  :markdown
    L'intégralité des options est exposée dans cet exemple mais
    composez selon vos besoins en privilégiant toujours
    l'accessibilité et la simplicité de votre page. Vous pouvez voir :

      * le nom du sponsor (requis)
      * le nom du service (requis)
      * le logo du service
      * un champ de recherche
      * des liens d'accès rapide
      * des liens directs
      * des liens direct déroulants.

= render '/partials/example.haml', caption: "En-tête avec logo opérateur sans lien", code: header_with_operator_image_without_link do
  :markdown
    Le logo de l'opérateur peut être affiché sans lien en passant `href: nil`. Par défaut le lien est "/".

= render '/partials/example.haml', caption: "En-tête avec logo opérateur et lien personnalisé", code: header_with_operator_image_custom_link do
  :markdown
    Le logo de l'opérateur peut pointer vers un lien personnalisé en passant un `href` :

= render '/partials/example.haml', caption: "En-tête avec liens personnalisés", code: header_with_custom_tool_links do
  :markdown
    Il n'est pas rare que l'action de déconnexion d'un utilisateur passe par un `DELETE` sur `/sessions` ou autre. Comme les liens (`<a>`) sont limités à `GET` il est possible d'outrepasser ça avec `custom_tool_links` qui permet par exemple d'insérer le combo formulaire/bouton dans ce cas :

= render '/partials/related-info.haml', links: dsfr_component_doc_links("en-tete")
