<%= tag.header(**html_attributes) do %>
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"><%= logo_text %></p>
            </div>

            <% if operator_image? %>
              <%= operator_image %>
            <% end %>

            <% if search? || tool_links? || direct_links? %>
              <div class="fr-header__navbar">
                <% if search? %>
                  <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-header-search" id="button-header-search" title="Rechercher">
                    Rechercher
                  </button>
                <% end %>

                <% if tool_links? || direct_links? %>
                  <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-menu" aria-haspopup="menu" id="button-header-menu" title="Menu">
                    Menu
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if title %>
            <div class="fr-header__service">
              <a href="/" title="Accueil - <%= title %>">
                <p class="fr-header__service-title"><%= title %></p>
              </a>
              <% if tagline %>
                <p class="fr-header__service-tagline"><%= tagline %></p>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if tool_links? || search? %>
          <div class="fr-header__tools">
            <% if tool_links? %>
              <div class="fr-header__tools-links">
                <ul class="fr-btns-group">
                  <% tool_links.each do |tool_link| %>
                    <li>
                      <%= tool_link %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if search? %>
              <div class="fr-header__search fr-modal" id="modal-header-search">
                <div class="fr-container fr-container-lg--fluid">
                  <button class="fr-btn--close fr-btn" aria-controls="modal-header-search" title="Fermer">
                    Fermer
                  </button>
                  <div role="search" id="header-search">
                    <%= search %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if tool_links? || direct_links? %>
    <div class="fr-header__menu fr-modal" id="modal-header-menu" aria-labelledby="button-header-menu" role="navigation">
      <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="modal-header-menu" title="Fermer">
          Fermer
        </button>
        <div class="fr-header__menu-links">
          <!-- this seems to get autopopulated with the tool links with JS -->
        </div>

        <% if direct_links? %>
          <nav class="fr-nav" id="navigation-direct-links" role="navigation" aria-label="Menu principal">
            <ul class="fr-nav__list">
              <% direct_links.each do |direct_link| %>
                <li class="fr-nav__item">
                  <%= direct_link %>
                </li>
              <% end %>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
