<%= tag.div(**html_attributes) do %>
  <%= tag.send(starting_header_tag, class: "fr-stepper__title") do %>
    <%= title %>
    <span class="fr-stepper__state">
      Étape <%= value %> sur <%= max %>
    </span>
  <% end %>
  <div
    class="fr-stepper__steps"
    data-fr-current-step="<%= value %>"
    data-fr-steps="<%= max %>"></div>
  <% if next_title %>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span>
      <%= next_title %>
    </p>
  <% end %>
<% end %>
