!!! 5
%html{lang: "fr", "data-fr-scheme": "system"}
  = render '/partials/head.haml'
  %body
    = render '/partials/header.haml'
    %main#contenu{role: "main"}
      .fr-container
        = render '/partials/breadcrumbs.haml'
        - if item
          %h1= item[:title]
        = yield
    = render '/partials/footer.haml'
