!!! 5
%html{lang: "fr", "data-fr-scheme": "system"}
  != render '/partials/head.slim'
  %body
    != render '/partials/header.slim'
    %main#contenu{role: "main"}
      .fr-container
        != render '/partials/breadcrumbs.slim'
        - if item
          %h1= item[:title]
        != yield
    != render '/partials/footer.slim'
