---
priority: 1
---

%section
  %nav.fr-grid-row
    .fr-col-md-3
      %h2 Introduction

      %ul
        %li= dsfr_link_to 'Installation', '/introduction/installation'
        %li= dsfr_link_to 'Utilisation', '/introduction/utilisation'
        %li= dsfr_link_to 'Options communes', '/introduction/options'
        %li= dsfr_link_to 'Versions supportées', '/introduction/versions-supportees'
        %li= dsfr_link_to 'Configuration', '/introduction/configuration'

      %h2 Helpers
      %ul
        %li= dsfr_link_to('Liens', '/helpers/link')
        %li= dsfr_link_to('Bouton ProConnect', '/helpers/proconnect_button')
      / h2 Helpers
      / ul
      /   li== dsfr_link_to('Button', '/helpers/button')
      /   li== dsfr_link_to('Link', '/helpers/link')
      /   li== dsfr_link_to('Skip link', '/helpers/skip-link')
      /   li== dsfr_link_to('Back to top link', '/helpers/back-to-top-link')

    .fr-col-md-9
      %h2 Composants

      %ul
        - component_links.sort.each do |name, path|
          %li= dsfr_link_to(name, path)
