<%= tag.section(**html_attributes) do %>
  <h3 class="fr-accordion__title">
    <button
      class="fr-accordion__btn"
      aria-expanded="<%= expanded? ? "true" : "false" %>"
      aria-controls="<%= id %>"
    >
      <%= title %>
    </button>
  </h3>
  <div
    id="<%= id %>"
    class="fr-collapse <%= "fr-collapse--expanded" if expanded? %>"
  >
    <%= content %>
  </div>
<% end %>
