<%= tag.section(**html_attributes) do %>
  <%= tag.send("h#{starting_header_level}", class: "fr-accordion__title") do %>
    <button
        class="fr-accordion__btn"
        aria-expanded="<%= expanded? ? "true" : "false" %>"
        aria-controls="<%= id %>"
    >
      <%= title %>
    </button>
  <% end %>
  <div
    id="<%= id %>"
    class="fr-collapse <%= "fr-collapse--expanded" if expanded? %>"
  >
    <%= content %>
  </div>
<% end %>
